*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "JosefinSansRegular";
  src: url("../assets/font/JosefinSans-Regular.ttf");
}

img {
  max-width: 100%;
}

html {
  width: 100%;
  height: 100vh;

  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;

  body {
    margin: 0;
    overflow: hidden;

    font-family: "JosefinSans-Light";
    font-weight: 400;

    background: #876b9e;

    .container {
      canvas {
        width: 100%;
        height: 100vh;
      }

      .title,
      .modal-title {
        font-family: Agne;
        font-weight: 400;
      }

      .close-btn {
        background: none;

        padding: 24px;

        border: none;

        cursor: pointer;

        img {
          width: 24px;
        }
      }

      .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100vh;

        background: #fff;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        lottie-player {
          width: 250px;
          height: 250px;
          margin-bottom: 32px;

          @media screen and (max-width: 768px) {
            width: 150px;
            height: 150px;
          }
        }

        img {
          height: 64px;
          margin-bottom: 96px;

          @media screen and (max-width: 768px) {
            height: 32px;
          }
        }

        .loader-progress-bar {
          width: 100%;
          max-width: 200px;
          height: 2px;

          background: #e0e0e0;

          position: relative;

          @media screen and (min-width: 768px) {
            max-width: 300px;
          }

          .progress-bar {
            height: 100%;

            background: #57256d;

            position: absolute;
          }
        }
      }

      nav {
        width: 100%;

        position: absolute;

        //z-index: 100;

        .nav-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding: 20px;

          .logo {
            max-width: 100%;
            text-align: center;
          }
          button {
            background: none;
            border: none;
          }
          img {
            cursor: pointer;
          }
        }
      }

      #labels {
        position: absolute;
        top: 0;
        left: 0;

        .tap-indicator {
          display: flex;
          justify-content: center;
          align-items: center;

          .tap-indicator-element {
            position: absolute;

            background: #f0a4c2;

            border-radius: 50%;

            &:nth-child(1) {
              width: 50px;
              height: 50px;

              opacity: 0.2;

              @media screen and (min-width: 768px) {
                width: 100px;
                height: 100px;
              }
            }

            &:nth-child(2) {
              width: 30px;
              height: 30px;

              opacity: 0.4;

              @media screen and (min-width: 768px) {
                width: 75px;
                height: 75px;
              }
            }

            &:nth-child(3) {
              width: 20px;
              height: 20px;

              opacity: 0.8;

              @media screen and (min-width: 768px) {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 50%;

        color: #fff;

        text-align: center;

        position: absolute;

        z-index: -1;

        .title,
        .subtitle {
          max-width: 80%;
        }

        .title {
          font-size: 64px;
          margin: 0;

          margin-top: 125px;
          font-size: 32px;

          @media screen and (min-width: 768px) {
            margin-top: 48px;
          }
        }

        .subtitle,
        .cta {
          margin-bottom: 48px;
          font-family: "JosefinSans-Regular";
          font-size: 14px;
          line-height: 20px;
        }
      }

      .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #002e5c;

        width: 100%;
        height: 100%;

        background: #fff;

        position: absolute;
        top: 100%;
        right: 0;

        overflow: hidden;

        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        @media screen and (min-width: 768px) {
          width: 40%;
          max-width: 500px;
          top: 0;
          right: -100%;
          border-radius: 0;
        }

        .modal-content {
          display: flex;
          align-items: center;
          flex-direction: column;

          width: 100%;

          //width: calc(100% - 160px);
          height: 100%;

          @media screen and (max-width: 768px) {
            //width: calc(100% - 32px);
          }

          .modal-top {
            width: 100%;
            padding: 0 24px;
            padding-top: 24px;

            background: #fff;

            //position: fixed;

            @media screen and (min-width: 768px) {
              padding: 0 48px;
              padding-top: 24px;
            }

            .modal-title-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;

              width: 100%;
            }

            .modal-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0;

              font-family: Agne;
            }
          }

          .modal-content-container {
            padding: 0 24px;
            padding-bottom: 96px;

            overflow-y: auto;

            .modal-p {
              margin: 0;
              padding-bottom: 32px;
            }

            @media screen and (min-width: 768px) {
              padding: 0 48px;
              padding-bottom: 128px;
            }

            h2 {
              font-family: "Agne";
              font-size: 20px;
              text-align: left;
              width: 100%;
              margin: 0;
              padding-bottom: 24px;

              @media screen and (min-width: 768px) {
                font-size: 24px;
                padding-bottom: 32px;
              }
            }

            .img-text-container {
              display: flex;
              padding-bottom: 16px;
              align-items: center;
            }

            .product-img {
              max-width: 100px;
              margin-right: 16px;
            }

            .product-title {
              font-family: "JosefinSans-Bold";
              font-size: 14px;
              margin: 0;
              padding-bottom: 8px;

              @media screen and (min-width: 768px) {
                font-size: 16px;
              }
            }

            .product-description {
              font-family: "JosefinSans-Light";
              font-size: 14px;
              margin: 0;

              @media screen and (min-width: 768px) {
                font-size: 16px;
              }
            }

            /* .little-box-image {
              padding: 0 24px;

              @media screen and (min-width: 768px) {
                padding: 0;
              }
            } */
          }

          .purchase-btn {
            width: calc(100% - 48px);

            color: #fff;
            background: #e9006f;

            padding: 20px;

            border: none;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            font-family: JosefinSans-Bold;

            cursor: pointer;

            &:hover {
              background: darken(#e9006f, 10%);
            }

            position: fixed;
            bottom: 16px;

            opacity: 0;

            @media screen and (min-width: 768px) {
              width: 300px;
              max-width: 100%;

              bottom: 48px;
            }
          }
        }
      }

      .about {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        background: url("../assets/images/about.jpg");
        background-size: cover;
        background-position: center;

        color: #002e5c;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 100;

        .title {
          font-size: 48px;
          margin: 24px 0;
        }

        .description {
          margin: 20px 0;
          width: 80%;
          max-width: 500px;
          text-align: center;
          font-size: 14px;
        }

        .line {
          width: 150px;
          border: 0.5px solid #002e5c;
        }
      }
    }
  }
}
